* {
  margin: 0;
  padding: 0;
  font-family: sans-serif, serif;
}

img {
  background-color: white;
}

body {
  background-image: url("https://wallpapers.com/downloads/high/pixel-background-dydt7w471f7t63js.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #231942;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 5px;
  background-color: #d8f3dc;
  font-weight: bold;
}

header {
  text-align: center;
  font-weight: bold;
  background-color: black;
  color: white;
  text-shadow:
		/*x-offset, y-offset, radius, color*/
    -1px 0px 4px Black,
    0px -1px 4px Black,
    1px 0px 4px Black,
    0px 1px 4px Black;
  padding: 10px;
}

main {
  background-image: linear-gradient(#001233, #5e548e, #001233);
  background-color: #3a506b;
  border-radius: 25px;
  border-style: solid;
  margin: 70px;
}

@media (min-width: 925px){
  main{
	  display: flex;
	  justify-content: space-evenly;
  }
  section{
	  margin: 20px;
  }
}

@media (max-width: 924px){
	section{
		display: block;
		margin: 20px auto;
	}
}

section {
  width: 200px;
  height: 300px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  text-align: center;
  background-color: black;
  background-image: linear-gradient(#231942, #5e548e);
  padding: 10px;
}

section > a > img {
  width: 190px;
  height: 190px;
}

#verbal-overview > p {
  padding-top: 5px;
}

#verbal-overview {
  color: white;
  padding: 5px;
}

section:hover {
  box-shadow: 0px 2px 2px black;
  padding-bottom: 15px;
  height: 295px;
  opacity: 0.7;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:active > * {
  opacity: 0.5;
}

footer {
  text-align: center;
  color: white;
}

footer > a:link,
footer > a:visited {
  text-decoration: underline;
  color: white;
}
